.home-background {
    background-image: url('https://t4.ftcdn.net/jpg/05/09/73/37/360_F_509733710_Xxmp6pEN7gmZGCIxGuamXMIFdBTp5Ts6.jpg');
    background-size: cover; /* Ensures the image covers the whole screen */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat;
    min-height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(29, 24, 24); /* Make text visible on darker background */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow for better readability */
  }
  
  .home-title {
    font-size: 2.5rem;
    margin: 20px 0;
  }
  
  .home-description {
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .feature-list {
    list-style-type: none;
    padding: 0;
    text-align: center;
  }
  
  .feature-item {
    font-size: 1.2rem;
    margin-top: 10px;
  }